<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-In6B8teKZQll5heMl9bS7CESTbGvuAt3VVV86BUQBDk='"/>
        <title>Minecraft Launcher</title>
        <link type="text/css" rel="stylesheet" href="./assets/css/style.css">
        
    </head>
    <body>
        <%- include('frame') %>
    </body>
</html>