<div id="settingsContainer" style="display: none;">
    <div id="settingsContainerLeft">
        <div id="settingsNavContainer">
            <div id="settingsNavHeader">
                <span id="settingsNavHeaderText">Settings</span>
            </div>
            <div id="settingsNavItemsContainer">
                <div id="settingsNavItemsContent">
                    <button class="settingsNavItem" rSc="settingsTabAccount" id="settingsNavAccount" selected>Account</button>
                    <button class="settingsNavItem" rSc="settingsTabMinecraft">Minecraft</button>
                    <button class="settingsNavItem" rSc="settingsInstancesMinecraft">Instances</button>
                    <button class="settingsNavItem" rSc="settingsTabJava">Java</button>
                    <button class="settingsNavItem" rSc="settingsTabLauncher">Launcher</button>
                    <div class="settingsNavSpacer"></div>
                    <button class="settingsNavItem" rSc="settingsTabAbout">About</button>
                    <button class="settingsNavItem" rSc="settingsTabUpdate" id="settingsNavUpdate">Updates</button>
                    <div id="settingsNavContentBottom">
                        <div class="settingsNavDivider"></div>
                        <button id="settingsNavDone">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>