<div id="welcomeContainer" style="display: none;">
    <div id="welcomeContent">
        <img id="welcomeLogo" src="assets/images/MinecraftLogo.png"/>
        <span id="welcomeHeader">All Geese Hate You On A Personal Level</span>
        <span id="welcomeDescription">This is the better launcher, developed by yours truly, cycle. (Most code was stolen from Helios Launcher. (What, do you think I'm gonna do all of this css alone?))</span>
        <br>
        <span id="welcomeClickText">You are a few clicks away from death.</span>
            <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87, 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02" />
                </svg>
            </div>
        </button>
    </div>
    <script src="assets/js/scripts/welcome.js"></script>
</div>