/************************************************************
 *                                                          *
 * Fonts                                                    *
 *                                                          *
 ***********************************************************/

@font-face {
    font-family: 'Equinox Regular';
    src: url('../font/Equinox-Bold.ttf');
}

@font-face {
    font-family: 'Equinox-Regular';
    src: url('../font/Equinox-Regular.ttf');
}

/************************************************************
 *                                                          *
 * Loading element (app.ejs)                                *
 *                                                          *
 ***********************************************************/

